---
import { Image } from 'astro:assets'
import Button from '@components/Button.astro'

import bgHeroIllustration from '@assets/svg/bg-illustration.svg?raw'
import heroIllustration from '@assets/svg/hero-illustration.svg'
---

<section class="section" id="hero">
  <div class="container">
    <div class="hero-container">
      <div class="hero-container--left">
        <h1 class="font-rubik hero-title">
          Estaciona <span class="font-rubik">rápido</span> y ahorra <span
            class="font-rubik">tiempo</span
          >
        </h1>
        <h2 class="font-rubik hero-subtitle">
          Encuentra fácilmente estacionamiento desde la comodidad de tu
          dispositivo
        </h2>
        <Button>Conocer más</Button>
      </div>
      <div class="hero-container--right">
        <div class="hero-container--right-bg">
          <Fragment set:html={bgHeroIllustration} />
        </div>
        <Image
          class="hero-img"
          src={heroIllustration}
          alt="App de EzPark"
          loading="eager"
        />
      </div>
    </div>
  </div>
</section>

<style>
  .hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.4rem;
  }
  .hero-title,
  .hero-title span {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -1.2px;
    text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  }
  .hero-title {
    color: var(--color-primary-500);
    margin-bottom: 1.6rem;
  }
  .hero-title span {
    color: var(--color-secondary-400);
  }
  .hero-subtitle {
    font-size: 2.4rem;
    line-height: 4rem;
    font-weight: 400;
    color: var(--color-text);
    margin-bottom: 3.6rem;
  }
  .hero-container--right {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .hero-container--right-bg {
    position: absolute;
  }
  .hero-img {
    position: relative;
  }
</style>
