.carousel {
  overflow: hidden;
}
.slideContainer {
  display: flex;
  overflow: hidden;
  transition: transform 0.5s ease;
}

.slide {
  flex: none;
}

.actionsContainer {
  margin-top: 9.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
